# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {'label': 'Abridge Strings', 'command': 'abridge:abridge-strings'}
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Abridge'
      'submenu': [
        {'label': 'Abridge Strings', 'command': 'abridge:abridge-strings'}
      ]
    ]
  }
]
